rag_api_isi/n8n/n8n_chat.json
{
  "name": "RAG ISI - Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-isi-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "rag-isi-chat"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ question: $json.body.question, top_k: 4 }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "c2",
      "name": "Appel /api/chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "c3",
      "name": "Répondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Appel /api/chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appel /api/chat": {
      "main": [
        [
          {
            "node": "Répondre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}